{
  "plugins": ["lodash"],
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "esmodules": true
        }
      }
    ],
    "@babel/preset-stage-0",
    "@babel/preset-flow",
    "@babel/preset-react"
  ]
}
